Repository bounswe/2021SpringGroup2, pull requests merged in 2021-12, with the labels that each got.

#227 Frontend rectangular search
  frontend/package.json
  frontend/src/Controllers/GeocodingController.js
  frontend/src/Views/SearchEvents/FilterComponents/MapWithRectangle.js
  frontend/webpack.config.js
Labels: type: enhancement, priority: high, state: review needed, Frontend

#235 Loading Lottie Pull Request
  FindSportEvents/app/build.gradle
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentProfile.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/util/DialogManager.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/util/LoadingDialog.kt
  FindSportEvents/app/src/main/res/layout/loading_layout.xml
  FindSportEvents/app/src/main/res/raw/loading.json
Labels: priority: high, Android

#236 Android view all events + Search Events
  FindSportEvents/app/build.gradle
  FindSportEvents/app/src/main/AndroidManifest.xml
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/adapter/RecyclerAdapter.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/MainActivity.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentHome.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentMap.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentSearchEvent.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentViewAllEvents.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/ReboundAPI.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/modalz/responses/ActorResponse.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/modalz/responses/AllEventsResponse.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/modalz/responses/EventResponse.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/modalz/responses/LocationResponse.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/modalz/responses/ObjectResponse.kt
  FindSportEvents/app/src/main/res/drawable-v24/event_icon.xml
  FindSportEvents/app/src/main/res/drawable/ic_baseline_emoji_flags_24.xml
  FindSportEvents/app/src/main/res/drawable/ic_baseline_search_24.xml
  FindSportEvents/app/src/main/res/layout/activity_main.xml
  FindSportEvents/app/src/main/res/layout/card_view.xml
  FindSportEvents/app/src/main/res/layout/fragment_home.xml
  FindSportEvents/app/src/main/res/layout/fragment_map.xml
  FindSportEvents/app/src/main/res/layout/fragment_search_event.xml
  FindSportEvents/app/src/main/res/layout/fragment_view_all_events.xml
  FindSportEvents/app/src/main/res/menu/bottom_nav_menu.xml
  FindSportEvents/app/src/main/res/values/strings.xml
Labels: type: enhancement, state: review needed, Android

#230 Frontend comments/answers functionality
  frontend/src/Controllers/CommentAnswerController.js
  frontend/src/Views/Comments/Comment.js
  frontend/src/Views/Comments/Comments.js
Labels: type: enhancement, priority: high, state: completed, state: review needed, Frontend

#233 Frontend create event location map and improvements
  frontend/src/Controllers/EventController.js
  frontend/src/Controllers/GeocodingController.js
  frontend/src/Views/Create Event/CreateEventPage.js
  frontend/src/Views/Create Event/Index.js
  frontend/src/Views/Create Event/MapWithMarker.js
Labels: type: enhancement, priority: high, state: review needed, Frontend

#229 Frontend comments/answers unit tests
  frontend/package.json
  frontend/src/Tests/comments.test.js
Labels: type: enhancement, priority: high, state: completed, Frontend

#242 Android update profile
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentProfile.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/ReboundAPI.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/modalz/requests/UpdateProfileRequest.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/modalz/responses/UpdateProfileResponse.kt
  FindSportEvents/app/src/main/res/drawable/profile_avatar.png
  FindSportEvents/app/src/main/res/layout/fragment_profile.xml
Labels: type: enhancement, priority: high, state: revision needed, Android

#245 Added unit test for maps
  frontend/src/Tests/maps.test.js
Labels: type: enhancement, priority: high, state: completed, Frontend

#243 Frontend create event unit test
  frontend/src/Tests/__mocks__/fileMock.js
  frontend/src/Tests/createevent.test.js
Labels: type: enhancement, priority: high, state: completed, Frontend

#253 Android create event
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/MainActivity.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentCreateEvent.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentHome.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentMap.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/ReboundAPI.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/modalz/requests/CreateEventRequest.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/modalz/responses/CreateEventResponse.kt
  FindSportEvents/app/src/main/res/drawable/ic_datepicker.png
  FindSportEvents/app/src/main/res/drawable/ic_map.png
  FindSportEvents/app/src/main/res/layout/fragment_create_event.xml
  FindSportEvents/app/src/main/res/layout/fragment_home.xml
  FindSportEvents/app/src/main/res/values/strings.xml
Labels: type: enhancement, priority: high, state: review needed, Android

#258 Android view event merge request
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/adapter/RecyclerAdapter.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/MainActivity.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentMap.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentProfile.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentSearchEvent.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentViewAllEvents.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentViewEventDetailed.kt
  FindSportEvents/app/src/main/res/layout/card_view.xml
  FindSportEvents/app/src/main/res/layout/fragment_view_event_detailed.xml
Labels: Android

#283 View event detailed page re-implemented.
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/MainActivity.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentViewAllEvents.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentViewEventDetailed.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/ReboundAPI.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/modalz/responses/EventbyIdResponse.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/modalz/responses/LocationResponse.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/modalz/responses/ObjectResponse.kt
  FindSportEvents/app/src/main/res/layout/fragment_view_event_detailed.xml
Labels: Android
