Repository bounswe/2021SpringGroup2, pull requests merged in 2021-11, with the labels that each got.

#171 Frontend homepage init
  frontend/.babelrc
  frontend/package.json
  frontend/src/App.js
  frontend/src/Controllers/SampleEventController.js
  frontend/src/Controllers/SportsController.js
  frontend/src/Views/Home/EventCard.js
  frontend/src/Views/Home/Home.css
  frontend/src/Views/Home/Home.js
  frontend/src/Views/Home/Index.js
  frontend/src/Views/Home/SportsEventCard.js
  frontend/src/Views/Home/SportsInfoCard.js
  frontend/webpack.config.js
Labels: type: enhancement, priority: high, state: revision needed, Frontend

#169 Navigation Feature #166
  frontend/src/Views/Home/Index.js
  frontend/src/Views/Shared/Header.js
  frontend/src/Views/Shared/Layout.js
Labels: Frontend

#186 Android refinements
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/login/SignupActivity.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentProfile.kt
  FindSportEvents/app/src/main/res/drawable-v24/rebound.png
  FindSportEvents/app/src/main/res/layout/activity_login.xml
  FindSportEvents/app/src/main/res/layout/activity_signup.xml
  FindSportEvents/app/src/main/res/layout/fragment_profile.xml
  FindSportEvents/app/src/main/res/values/strings.xml
Labels: type: enhancement, priority: high, Android

#182 Improved home page titles and event card layout
  frontend/src/Views/Home/EventCard.js
  frontend/src/Views/Home/Home.js
Labels: type: enhancement, priority: high, state: completed, Frontend

#184 Added forgot password page and the related controller
  frontend/src/App.js
  frontend/src/Controllers/LoginController.js
  frontend/src/Views/Login/ForgotPassword.js
Labels: type: enhancement, priority: high, state: completed, Frontend

#183 Added the initial login page with a controller
  frontend/src/Controllers/LoginController.js
  frontend/src/Views/Create Event/Index.js
  frontend/src/Views/Login/Login.js
Labels: type: enhancement, priority: high, state: completed, Frontend
