Repository bounswe/2021SpringGroup2, pull requests merged in 2022-01, with the labels that each got.

#304 Frontend login functionality unit tests&forgot password improvements
  frontend/src/Tests/login.test.js
  frontend/src/Views/Login/ForgotPassword.js
Labels: type: enhancement, priority: high, state: completed, Frontend

#321 Frontend event application components
  frontend/src/Controllers/ApplicationsController.js
  frontend/src/Views/Application/ApplicantList.js
  frontend/src/Views/Application/ApplicantSelection.js
Labels: type: enhancement, priority: high, state: completed, Frontend

#320 Frontend badges component and controller
  frontend/src/Controllers/BadgeController.js
  frontend/src/Views/Badges/Badge.js
  frontend/src/Views/Badges/BadgeList.js
  frontend/src/Views/Badges/BadgeSelection.js
  frontend/src/Views/Badges/RelatedEvents.js
  frontend/src/Views/Badges/SelectableBadge.js
  frontend/src/Views/Profile/ViewProfile.js
Labels: type: enhancement, priority: high, state: completed, Frontend

#328 Frontend create equipment post page
  frontend/src/Controllers/EquipmentController.js
  frontend/src/Controllers/EventController.js
  frontend/src/Views/Create Equipment/CreateEquipmentPage.js
  frontend/src/Views/Create Event/CreateEventPage.js
Labels: type: enhancement, priority: high, state: completed, Frontend

#327 Frontend event application is integrated to event view
  frontend/src/Controllers/ApplicationsController.js
  frontend/src/Views/Application/ApplicantList.js
  frontend/src/Views/Application/ApplicantSelection.js
  frontend/src/Views/Event Page/Event.js
  frontend/src/Views/Login/Login.js
Labels: type: enhancement, priority: high, state: completed, Frontend

#342 Android event discussion
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/adapter/RecyclerAdapterDiscussion.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/adapter/RecyclerAdapterEquipment.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/MainActivity.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentAnswers.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentAnswersEquipment.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentCreateEquipment.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentEquipmentDetailed.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentEquipmentResults.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentMyEvents.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentProfile.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentSearchEvent.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentSearchResults.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentSearchTransit.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentSearchUser.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentUserResult.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentViewAllEvents.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentViewEventDetailed.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/ReboundAPI.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/modalz/requests/ApplyRequest.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/modalz/requests/CommentRequest.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/modalz/requests/CreateEquipmentRequest.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/modalz/responses/AllCommentsResponse.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/modalz/responses/AllEquipmentsResponse.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/modalz/responses/BlockResponse.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/modalz/responses/FollowResponse.kt
  FindSportEvents/app/src/main/res/layout/card_view_discussion.xml
  FindSportEvents/app/src/main/res/layout/fragment_answers.xml
  FindSportEvents/app/src/main/res/layout/fragment_answers_equipment.xml
  FindSportEvents/app/src/main/res/layout/fragment_create_equipment.xml
  FindSportEvents/app/src/main/res/layout/fragment_equipment_detailed.xml
  FindSportEvents/app/src/main/res/layout/fragment_equipment_results.xml
  FindSportEvents/app/src/main/res/layout/fragment_profile.xml
  FindSportEvents/app/src/main/res/layout/fragment_view_event_detailed.xml
Labels: type: enhancement, priority: high, Android

#355 Frontend event application unit test
  frontend/src/Controllers/ApplicationsController.js
  frontend/src/Tests/application.test.js
Labels: type: enhancement, priority: high, state: review needed, Frontend

#352 Frontend badge unit test
  frontend/src/Controllers/BadgeController.js
  frontend/src/Tests/badge.test.js
Labels: type: enhancement, priority: high, state: review needed, Frontend

#347 Frontend comments integration
  frontend/src/Controllers/CommentAnswerController.js
  frontend/src/Tests/comments.test.js
  frontend/src/Views/Comments/Comments.js
  frontend/src/Views/Event Page/Event.js
Labels: type: enhancement, priority: high, state: review needed, Frontend

#350 Added various input checks for url format
  frontend/src/Tests/createequipment.test.js
Labels: type: enhancement, priority: high, state: completed, Frontend

#362 Android badges
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/adapter/RecyclerAdapterBadges.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentGiveABadge.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentMyEvents.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentProfile.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentRelatedEvents.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentUserResult.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/ReboundAPI.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/modalz/requests/GiveBadgeRequest.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/modalz/responses/GetBadgesResponse.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/modalz/responses/GiveBadgeResponse.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/modalz/responses/RelatedEventResponse.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/modalz/responses/UserResponse.kt
  FindSportEvents/app/src/main/res/layout/card_view_give_badge.xml
  FindSportEvents/app/src/main/res/layout/fragment_give_a_badge.xml
  FindSportEvents/app/src/main/res/layout/fragment_profile.xml
  FindSportEvents/app/src/main/res/layout/fragment_related_events.xml
  FindSportEvents/app/src/main/res/layout/fragment_user_result.xml
Labels: priority: high, state: review needed, Android

#363 Android event discussion
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/adapter/RecyclerAdapterUser.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/MainActivity.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentFollowing.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentPlayedEvents.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentPlayers.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentProfile.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentSearchUser.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentUserResult.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentViewEventDetailed.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/ReboundAPI.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/modalz/responses/PlayedEventsResponse.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/modalz/responses/UserResponse.kt
  FindSportEvents/app/src/main/res/layout/fragment_following.xml
  FindSportEvents/app/src/main/res/layout/fragment_played_events.xml
  FindSportEvents/app/src/main/res/layout/fragment_players.xml
  FindSportEvents/app/src/main/res/layout/fragment_profile.xml
  FindSportEvents/app/src/main/res/layout/fragment_search_user.xml
  FindSportEvents/app/src/main/res/layout/fragment_user_result.xml
  FindSportEvents/app/src/main/res/layout/fragment_view_event_detailed.xml
Labels: type: enhancement, priority: high, Android

#364 Android applicants
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/adapter/RecyclerAdapterApplications.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/adapter/RecyclerAdapterSpectators.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentViewApplications.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/main/fragments/FragmentViewEventDetailed.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/ReboundAPI.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/modalz/requests/ApplicantsRequest.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/modalz/responses/ApplicantListResponse.kt
  FindSportEvents/app/src/main/java/com/bounswe/findsportevents/network/modalz/responses/ApplicantsResponse.kt
  FindSportEvents/app/src/main/res/layout/card_view_applications.xml
  FindSportEvents/app/src/main/res/layout/fragment_view_applications.xml
Labels: priority: high, state: review needed, Android
